<div class="form-container">
  <h1> New activity: </h1>
  <form class="login-form">
    <label class="input">
      <span class="focus-out">Activity</span>
      <input class="input-box activity-title" type="text">
    </label>
    <label class="input">
      <span class="focus-out">Etc</span>
      <input class="input-box" type="text">
    </label>
    <label class="input">
      <span class="focus-out">etc</span>
      <input class="input-box" type="text">
    </label>
    <button class="submit-btn">Submit</button>
  </form>
</div>
