{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/graph.css">
    <script src="static/d3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	  <title>Stats Tracking</title>

	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
	  <link href="https://fontastic.s3.amazonaws.com/Cez3KECLTfVWYyJGtXZ3XW/icons.css" rel="stylesheet">
<script>

$(document).ready(function(){

$.ajax({
    type: 'GET',
    url: 'api/activities/3/stats/?format=json',
    data: { get_param: 'activities' },
    dataType: 'json',
    success: function (data) { //this success (or somtimes .done) stores the json file as data
		ary = {};

        $.each(data, function(index, element) {
			$.each(element, function(d, val) {
				// console.log(d+" : "+val);
				if (d in ary) {
					ary[d].push(val);
				} else {
					ary[d] = [val];
				}
			});
        });
		xvals = ary["date"]; // array of days as strings
		yvals = ary["stat"];

		// John's method for converting dates into numbers
		var new_x = [];
		for (i=0;i<xvals.length;i++) {
			var john_date = new Date(xvals[i]); // converted days into datetime object array
			new_x.push( john_date );
		}

		// From Mason's lecture
		svg = d3.select("svg");
		g = svg.append("g");
		g.attr("transform", "translate(100,50)");

		var width = 400;
		var height = 200;

		// domain is set by the min and max of the lists
		// x = d3.scale.linear().domain([d3.min(new_x), d3.max(new_x)]).range([0, 800]); // set axis scale in domain
		y = d3.scale.linear().domain([0, d3.max(yvals)]).range([height, 0]); // leave range alone

		x = d3.time.scale().domain([d3.min(new_x), d3.max(new_x)]).range([0, width]); // updated date formatting

		var max_ticks = 5;
		x_axis = d3.svg.axis().scale(x).orient("bottom").ticks(max_ticks).tickFormat(d3.time.format("%m/%d"));
		y_axis = d3.svg.axis().scale(y).orient("left").ticks(4);

		g.call(y_axis);

		gx = g.append("g")
		gx.call(x_axis);
		console.log("transform", "translate(0,"+height+")");
		gx.attr("transform", "translate(0,"+height+")");

		g.selectAll("circle")
	      .data(data)
	    .enter().append("circle")
	      .attr("cx", function(d) {
			var john_date = new Date(d["date"]);
			return x(john_date);
		} )
	      .attr("cy", function(d) {return y(d["stat"]);} )
	      .attr("r", 10);


    }
});
});


</script>

<style>

.chart div {
font: 10px sans-serif;
background-color: steelblue;
text-align: right;
padding: 3px;
margin: 1px;
color: white;
}
</style>

</head>

<body>
  <header class="page-header">
    <div class="home">
      <a href=""> n </a>
    </div>
    <h1>Stat Tracker</h1>
    <div class="add-new">
      <a href="#new-activity"> + </a>
    </div>
  </header>

	<svg id="graph"></svg>

  <div class="main-content">


  </div>

  <script src="{% static 'js/vendor.js' %}"></script>
  <script src="{% static 'js/views.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>

</body>

</html>
