.page-header {
  background-color: #354459;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
}

.page-header h1 {
  color: #e9e0d7;
  padding: 20px 0;
  text-align: center;
  font-size: 32px;
}

.add-new {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(50%, -60%);
  cursor: pointer;
}

.add-new a {
  text-decoration: none;
  color: #e9e0d7;
  font-size: 42px;
}

.home {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.home a {
  text-decoration: none;
  color: #e9e0d7;
  font-size: 30px;
  font-family: untitled-font-1;
}
